*.swp
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Lambda Layer dependencies
layers/ml/python/

# Dataset files
*.csv
*.parquet

# Model artifacts
*.pkl

# AWS credentials
.aws/
*.pem

# OS/editor junk
.DS_Store
.vscode/
.idea/

# test
test/